.my-primary{
  color: lightYellow ;
  background-color: red;
}

.my-primary:focus, .my-primary:hover{
  color: yellow ;
  background-color: darkRed;
}


.primary{
  color: white;
  background-color: cadetblue;
}

.w3-select {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.w3-container {
  margin: 20px;
  
}

::placeholder {
  color: gray;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: gray;
}

li {
  cursor: pointer;
}